body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: bisque;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 294px;
  padding: 92px 50px;
  background-color: gold;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: circle;
  width: 391.48px;
}

.li-none-decarations {
  list-style: none;
}

.link-active {
  text-decoration-line: none;
}

.header-logo {
  width: 148px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 99px;
  justify-self: end;
  font-style: normal;
  line-height: 24px;
  /* word-break: break-all; */
}

.cover {
  position: absolute;
  min-width: 1100px;
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;

}

.cover-title{
  position: relative;
  width: 1000px;
  height: 355px;
  margin: 165px auto;
  font-size: 100px;
  font-weight: 700;
  line-height: 122px;
  letter-spacing: 18px;
  z-index: 10;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}